.onlyApplication{
  float: none;
        clear: both;
        width: 700px;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
    margin: 0 auto;
}

.colBut{
  background-color: #ff0066;
}

.applicantBut{
  border:none;
  text-align:center;
  justify-content: center;
  justify-items: center;
}