.YoutubeVid {
  float: none;
  clear: both;
  width: 700px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
}

.reactPlayer{
  padding-right:200px;
}



.textBlock{
  background-color:#ff6600;
  padding:3%;
}

.textBlockDos{
  background-color:#ff0066;
  padding:3%;
}